/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--main-font), sans-serif;
    font-variation-settings: 'wght' var(--main-page-font-weight, 400);
    background-image: var(--body-gradient);
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 100px auto;
    block-size: calc((700 / 1440) * 100dvh);
    inline-size: calc((368 / 900) * 100dvw);
    font-family: var(--accent-font);
    background-color: var(--background-color);
    border: 2px solid #000;
}

.header__logo {
    line-height: 100%;
    font-size: clamp(3.0625rem, 2.75rem + 1.3vw, 4.0625rem);
    text-transform: uppercase;
}

.header__logo-description {
    line-height: 100%;
    font-size: clamp(0.875rem, 0.524rem + 0.844vw, 1.4375rem);
    text-transform: 100%;
}

.main {
    display: grid;
    justify-content: center;
    gap: 50px;
}

.card {
    inline-size: calc((700 / 1440) * 100dvw);
    background-color: var(--background-color);
    border: 2px solid #000;
}

.card__title {
    position: relative;
    margin: 6.5px 0;
    padding: 0 10px;
    font-size: 1.125rem;
    font-variation-settings: 'wght' var(--card-title-font-weight, 700);
}

.card-content {
    position: relative;
    overflow: hidden;
    border-top: 2px solid #000;
    aspect-ratio: 1/1;
}

.card-content__subtitle {
    position: absolute;
    z-index: 1;
    inset-block-start: 14px;
    inset-inline-end: calc(25/696 * 100%);
    opacity: 0.5;
    font-size: 14px;
    mix-blend-mode: hard-light;
    font-family: var(--accent-font), sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 0px var(--shadow-color), -1px 0px var(--shadow-color), 0px 1px var(--shadow-color), 0px -1px var(--shadow-color);
}

@supports (text-stroke: 1px var(--shadow-color)) or (-webkit-text-stroke: 1px var(--shadow-color)) {
    .card-content__subtitle {
        -webkit-text-stroke: 1px var(--shadow-color);
        text-stroke: 1px var(--shadow-color);
        text-shadow: none;
    }
}

.card-content__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.card-content__image--second {
    filter: brightness(0.95) contrast(0.9) saturate(80%) hue-rotate(340deg) sepia(50%);
}

.card-content__image--third {
    filter: brightness(1.5) contrast(150%) hue-rotate(15deg);
}

.card-content__image--fourth {
    filter: hue-rotate(45deg) saturate(95%) brightness(1.3);
}

.card-content__image--fifth {
    filter: invert(0.8);
}

.card-content__image--sixth {
    filter: sepia(80%);
}

.card-content__image--seventh {
    filter: blur(10px);
}

.card-content__image--eighth {
    filter: hue-rotate(85deg) brightness(1.4) contrast(0.7) sepia(0.5);
}

.card-container {
    padding-inline: 25px;
    padding-block-start: 25px;
    font-size: 18px;
    line-height: 21px;
    border-top: 2px solid #000;
}

.card-container > :first-child {
    margin-block-end: 27px;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 25px 25px 25px 0px;
}

.card__icon-button {
    inline-size: 38px;
    block-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    background-color: transparent;
    transition: border 0.3s ease;
    cursor: pointer;
}

.card__like-button {
    inline-size: 130px;
    block-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--theme-color);
    background-color: transparent;
    cursor: pointer;
}

.button__text {
    font-family: var(--accent-font);
    font-size: 14px;
    line-height: 0.9;
}

.footer {
    margin-block: 50px 105px;
    display: flex;
    justify-content: center;
}

.footer__button {
    padding: 17px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #fff;
    border: 2px solid var(--theme-color);
    cursor: pointer;
}

.footer__button-icon {
    color: #000;
}

.footer__button-content {
    font-family: var(--accent-font);
    font-size: 14px;
    line-height: 0.9;
}

.footer-popup[open] {
    inline-size: calc((353/1440) * 100dvw);
    max-inline-size: 353px;
    padding-inline: 22px;
    padding-block: 30px;
    margin: auto;
    display: grid;
    gap: 30px;
    border: 2px solid var(--theme-color);
    background-color: #fff;
    overflow: hidden;
}

.footer-popup[open]::backdrop {
    background-color: var(--theme-color);
    opacity: 0.75;
}
/*
.footer-popup__content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px
}
*/
.footer-popup__content {
    /*  inline-size: calc((293/1440) * 100dvw); */
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-popup__icon {
    margin-block: 12px;
}

.footer-popup__caption {
    font-family: var(--accent-font);
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    overflow: hidden;
}

.footer-popup__button--close {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--theme-color);
    background-color: #fff;
    cursor: pointer;
}

.footer-popup__button-text {
    padding-block: 12.5px;
    font-family: var(--accent-font);
    font-size: 14px;
    line-height: 0.9;
}

@media (max-width: 376px) {
    .header {
        inline-size: 100dvw;
        block-size: calc((327/667) * 100dvw);
    }

    .card {
        inline-size: 100dvw;
    }

    .card__title {
        padding-block: 5px;
        padding-inline: 10px;
        margin: 0;
    }

    .card-content__subtitle {
        inset-inline-end: 12px;
        inset-block-start: 23px;
    }

    .footer {
        margin-block: 52px 100px;
        margin-inline: 34.5px;
    }

    .footer__button {
        display: flex;
        flex-direction: column;
    }

    .footer__button-icon {
        inline-size: 28px;
        block-size: 28px;
    }

    .footer__button-content {
        white-space: nowrap; /*Свойство не допускает перенос текста - может помочь а решении задачи связанной с dialog в desktop*/
    }

    .footer-popup[open] {
        inline-size: calc((341/375) * 100vw);
    }

    .footer-popup__content {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 20px;
    }
}

.card__like-button,
.footer__button,
.footer-popup__button--close {
    position: relative;
    transition: box-shadow 0.3s ease;
}

.card__like-button::before,
.footer__button::before,
.footer-popup__button--close::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: var(--theme-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before,
.footer__button:hover::before,
.footer-popup__button--close:hover::before {
    transform: scaleX(1);
}

.button__text,
.footer__button-content,
.footer__button-icon,
.footer-popup__button-text {
    position: relative;
    z-index: 2;
    color: #fff;
    mix-blend-mode: difference;
}

.footer__button:hover .footer__button-icon {
    fill: white;
}

.card__like-button:focus,
.footer__button:focus,
.footer-popup__button--close:focus {
    outline: none;
    box-shadow: 2px 2px 0px var(--theme-color);
}

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    border: 2px solid var(--theme-color);
}

.like-icon .main-body {
    fill: transparent;
    transition: fill 0.3s ease;
}

.like-icon .core {
    fill: transparent;
    transition: fill 0.3s ease 0.03s;
}

.like-icon > .sparks {
    opacity: 0;
}

.like-icon:hover .core {
    fill: var(--heart-contour);
    transition: fill 0.3s ease;
}

.like-icon:hover .main-body {
    fill: var(--heart-contour);
    transition: fill 0.3s ease 0.05s;
}

.like-icon:active .core {
    fill: var(--animation-fill-color);
    transition: fill 0.3s ease;
}

.like-icon:active .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .core {
    fill: var(--animation-fill-color);
    transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .contour {
    fill: var(--animation-fill-color);
    transition: fill 0.3s ease 0.06s;
}

.like-icon:not(.is-liked) .contour {
    transition: fill 0.1s linear;
}